.main_body {
  margin: 20px 0;
  min-height: 80vh;
  overflow: hidden !important;
}
.filters {
  background-color: white;
  min-height: 70vh;
  border-radius: 10px;
  padding-inline: 0 !important;
  display: flex;
  justify-content: center;
}
.filters aside {
  width: 100%;
}

.acc_icon {
  color: var(--dark_white);
}

.filter_label {
  color: black;
  font-weight: 600;
  color: var(--dark_white);
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}
.filter_input:checked + label {
  color: black;
}
.small_controllers {
  display: none;
  padding: 10px;
}
.label_checked {
  background-color: var(--main_color) !important;
  border: none !important;
  color: white !important;
}

.add_prop_div {
  padding: 1.25rem;
  background-color: var(--deep_navy);
  color: white;
  margin-inline: 0.625rem;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.305);
  min-width: 49%;
  min-height: 130px;
  cursor: pointer;
  transition: scale 0.4s;
}
.add_prop_div:hover {
  scale: 1.05;
}
.add_prop_div h5 {
  margin: 0.625rem 0;
  color: var(--main_color);
  font-weight: 700;
}
.add_prop_div p {
  color: rgb(242, 242, 242);
  font-size: 0.8125rem;
}
.properties_row {
  position: relative;
}

@media screen and (max-width: 768px) {
  .filters {
    display: none;
  }
  .small_controllers {
    display: block;
  }
  .properties_row {
    padding: 50px;
  }
}
@media screen and (max-width: 540px) {
  .properties_row {
    padding: 0;
  }
}
